<template>
    <footer>
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <h4>We’re always here to help</h4>
              <p>Reach out to us through any of these support channels</p>
            </div>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 col-sm-4 helpful">
                  <i class="fa fa-info"></i>
                  <div class="helpful-info">
                    help centre <a href="#">help.trueexpress.com</a>
                  </div>
                </div>
                <div class="col-12 col-sm-4 helpful">
                  <i class="fa fa-envelope"></i>
                  <div class="helpful-info">
                    email support <a href="#">care@trueexpress.com</a>
                  </div>
                </div>
                <div class="col-12 col-sm-4 helpful">
                  <i class="fa fa-phone"></i>
                  <div class="helpful-info">
                    phone support <a href="#">123-45678</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center-footer">
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2">
              <ul>
                <h5>ABOUT US</h5>
                <li><a href="#">Harman Corporate</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Why Buy Direct</a></li>
                <li><a href="#">Newsletter</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
              <ul>
                <h5>CUSTOMER SERVICE</h5>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Track Your Order</a></li>
                <li><a href="#">Returns/Exchange</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Customer Service</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
              <ul>
                <h5>COMPANY INFO</h5>
                <li><a href="#">Business Direct</a></li>
                <li><a href="#">Corporate Responsibility</a></li>
                <li><a href="#">Media Relations</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Find A Store</a></li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
              <ul>
                <h5>SHOPPING TOOLS</h5>
                <li><a href="#">Shop College</a></li>
                <li><a href="#">Shop Movers</a></li>
                <li><a href="#">Shop Catalogs</a></li>
                <li><a href="#">Shop Personalized Invitations</a></li>
                <li><a href="#">Shop by Brand</a></li>
                <li><a href="#">Shop Clearance & Savings</a></li>
                <li><a href="#">Buying Guides</a></li>
                <li><a href="#">Guides & Advice</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Coupons</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <h5>NEWSLETTER</h5>
              <p class="mb-2">Learn about events, contests, designing tips and more? Of course you do!</p>
              <form action="" class="w-75">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your email address...">
                  <div class="input-group-append">
                    <button class="btn btn-dark px-4" type="submit"><i class="fa fa-envelope-o" aria-hidden="true"></i></button> 
                  </div>
                </div>
              </form>
              <div class="social-media text-left mt-4">
                <h5>connect with us</h5>
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="text-left mt-3">
                <h5>shop on the go</h5>
                <a href="#"><img src="@/assets/img/android.png" class="stores" alt=""></a>
                <a href="#"><img src="@/assets/img/apple.png" class="stores" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="container">
          <div class="row">
            <p class="col-12 col-sm-3 col-md-2 hide-mobile">© 2018 trueExpress. All Rights Reserved.</p>
            <ul class="payement-methods col-12 col-sm-6 col-md-3">
              <li><i class="fa fa-cc-mastercard"></i></li>
              <li><i class="fa fa-cc-visa"></i></li>
              <li><i class="fa fa-cc-paypal"></i></li>
            </ul>
            <ul class="col-12 col-sm-6 col-md-7">
              <li><a href="#">Careers</a></li>
              <li><a href="#">Warranty Policy</a></li>
              <li><a href="#">Open a Store</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Terms of Sale</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="col-12 only-mobile">© 2018 trueExpress. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style>

</style>
