<template>
  <div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-3 only-mobile toggle-menu text-left">
            <i class="fa fa-bars"></i>
          </div>
          <div class="col-6 col-md-3 logo col-lg-2">
            <router-link to="/"><img src="@/assets/img/logo.png" alt=""></router-link>
          </div>
          <div class="col-3 only-mobile">
            <div class="cart">
               <router-link to="/cart"><img src="@/assets/img/cart-icon.jpg" class="cart-icon"></router-link>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <form class="search">
              <input type="text" name="" placeholder="What are you looking for ?">
              <button type="button" name="button"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="col-md-4 col-lg-5 hide-mobile">
            <div class="float-right">
              <div class="language hide-small">
                <a href="#">العربية</a>
              </div>
              <div class="country hide-small">
                <a href="#country-choose" data-toggle="collapse"><i class="icon flag-uae"></i> UAE</a>
                <div id="country-choose" class="collapse choosing">
                  <a href="#"><i class="icon flag-kwt"></i> KWT</a>
                </div>
              </div>
              <div class="log hide-mobile">
                <a href="#sign-choose" data-toggle="collapse">Sign In or Sign Up</a>
                <div id="sign-choose" class="collapse choosing text-center">
                  <p>Returning customer?</p>
                  <router-link to="/login"><span class="button-model">Sign in</span></router-link>
                  <hr>
                  <p>Don't have an account?</p>
                  <p><router-link to="/register">Sign up</router-link></p>
                </div>
              </div>
              <div class="cart">
                <router-link to="/cart"><img src="@/assets/img/cart-icon.jpg" class="cart-icon"></router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-menu">
      <div class="closeMenu"></div>
      <div class="responsive-menu">
        <ul>
          <li class="has-children">
            <a href="#">Furniture</a>
            <ul>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">Rugs</a>
            <ul>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
            </ul>
          </li>
          <li><a href="#">Rugs</a></li>
          <li class="has-children"><a href="#">Decor</a>
            <ul>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a>Living Room Furniture</a>
                <ul>
                  <li><a href="#">Sofas & Couches</a></li>
                  <li><a href="#">Sectionals</a></li>
                  <li><a href="#">Coffee & Accent Tables</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Entertainment Centers</a></li>
                  <li><a href="#">Ottomans</a></li>
                  <li><a href="#">Bookshelves</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="has-children"><a href="#">Bed & Bath</a>
            <ul>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
            </ul>
          </li>
          <li><a href="#">Home Improvement</a></li>
          <li class="has-children"><a href="#">Kitchen</a>
            <ul>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a>Living Room Furniture</a>
                  <ul>
                    <li><a href="#">Sofas & Couches</a></li>
                    <li><a href="#">Sectionals</a></li>
                    <li><a href="#">Coffee & Accent Tables</a></li>
                    <li><a href="#">Living Room Chairs</a></li>
                    <li><a href="#">Entertainment Centers</a></li>
                    <li><a href="#">Ottomans</a></li>
                    <li><a href="#">Bookshelves</a></li>
                  </ul>
                </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#country-choose-1" data-toggle="collapse"><i class="fa fa-flag-o"></i>Country <span class="float-right"><i class="icon flag flag-usa"></i> USA</span></a>
            <div id="country-choose-1" class="collapse choosing">
              <a href="#"><i class="icon flag-usa"></i> USA</a>
              <a href="#"><i class="icon flag-fra"></i> FRA</a>
            </div>
          </li>
          <li><a href="#"><i class="fa fa-globe"></i>Language <span class="float-right">العربية</span></a></li>
        </ul>
      </div>
    </div>
    <nav class="hide-mobile">
      <div class="container">
        <div class="row">
          <div class="float-left">
            <a href="#line-navbar-collapse-2" class="show-categories" data-toggle="collapse">All categories</a>
            <a href="">Flash deals</a>
            <a href="">New Arrivals</a>
            <a href="">Preorder</a>
            <a href="">Top Brands</a>
            <div id="line-navbar-collapse-2" class="collapse">
              <div class="nicemenu verticle" data-pos="list.right" data-classes="active">
                <div class="nicemenu-item active">
                  <h6><a href="#">Furniture</a></h6>
                  <div class="nicemenu-sub active">
                    <h5><a href="#" class="float-left">Furniture</a><a href="#" class="float-right">View all from Furniture ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Rugs</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Rugs</a><a href="#" class="float-right">View all from Rugs ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Decor</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Decor</a><a href="#" class="float-right">View all from Decor ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Bed & Bath</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Bed & Bath</a><a href="#" class="float-right">View all from Bed & Bath ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Home Improvement</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Home Improvement</a><a href="#" class="float-right">View all from Home Improvement ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Kitchen</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Kitchen</a><a href="#" class="float-right">View all from Kitchen ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Outdoor</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Outdoor</a><a href="#" class="float-right">View all from Outdoor ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Jewelry</a></h6>
                  <div class="nicemenu-sub">
                    <h5><a href="#" class="float-left">Jewelry</a><a href="#" class="float-right">View all from Jewelry ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Apparel</a></h6>
                  <div class="nicemenu-sub">

                    <h5><a href="#" class="float-left">Apparel</a><a href="#" class="float-right">View all from Apparel ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nicemenu-item">
                  <h6><a href="#">Kids & Baby</a></h6>
                  <div class="nicemenu-sub">

                    <h5><a href="#" class="float-left">Kids & Baby</a><a href="#" class="float-right">View all from Kids & Baby ></a></h5>
                    <div class="clearfix"></div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Living Room Furniture</h6>
                      <ul>
                        <li><a href="#">Sofas & Couches</a></li>
                        <li><a href="#">Sectionals</a></li>
                        <li><a href="#">Coffee & Accent Tables</a></li>
                        <li><a href="#">Living Room Chairs</a></li>
                        <li><a href="#">Entertainment Centers</a></li>
                        <li><a href="#">Ottomans</a></li>
                        <li><a href="#">Bookshelves</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                        <h6>Bedroom Furniture</h6>
                        <ul>
                          <li><a href="#">Bedroom Sets</a></li>
                          <li><a href="#">Beds</a></li>
                          <li><a href="#">Kids' Furniture</a></li>
                          <li><a href="#">Dressers & Chests</a></li>
                          <li><a href="#">Nightstands</a></li>
                          <li><a href="#">Headboards</a></li>
                          <li><a href="#">Armoires</a></li>
                          <li><a href="#">Mattresses</a></li>
                        </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                    <div class="w-4-1">
                      <h6>Dining Room & Bar Furniture</h6>
                      <ul>
                          <li><a href="#">Dining Sets</a></li>
                          <li><a href="#">Dining Chairs</a></li>
                          <li><a href="#">Dining Tables</a></li>
                          <li><a href="#">Buffets</a></li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Bar Stools</a></li>
                          <li><a href="#">Bar Tables</a></li>
                          <li><a href="#">Pub Sets</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style>

</style>
