<template>
  <div>
    <section>

      <div class="container">

        <div class="row">

          <ul class="pages-sctructer">

            <li><a href="#">Home</a></li>

            <li><a href="#">Cart</a></li>

          </ul>



          <div class="col-12 clearfix">



            <h2 class="cart-count">Your Cart (3 items)</h2>



            <div class="row">



              <div class="col-12 col-md-7 col-lg-8">

                <div class="products-cart">

                  <a href="product.html"><img class="float-left" src="img/products/t-9.jpg" alt=""></a>

                  <div class="float-left content-center">

                    <h3>Lexiit Product Sample</h3>

                    <p><strong>Size</strong> : XL</p>

                    <p><strong>Color</strong> : Red</p>

                    <p>Order in the next 10 hrs 20 mins and receive it by Today, Mar 1</p>

                  </div>

                  <div class="float-right text-right">

                    <p class="price">KD <strong>2,649.00</strong></p>

                    <div class="qty">
                      <label for="">Quantity</label>
                      <div class="input-quantity">
                        <input type="button" id="minus" value="-">
                        <span class="number" id="value-quality">1</span>
                        <input type="hidden" name="quantity" id="count" value="1">
                        <input type="button" id="plus" value="+">
                      </div>
                    </div>

                    <p>Max Quantity: 4</p>

                    <a href="#" class="removeFromCart">Remove</a>

                  </div>

                </div>

                <div class="products-cart">

                  <a href="product.html"><img class="float-left" src="img/products/t-5.jpg" alt=""></a>

                  <div class="float-left content-center">

                    <h3>Lexiit Product Sample</h3>

                    <p><strong>Size</strong> : XL</p>

                    <p><strong>Color</strong> : Red</p>

                    <p>Order in the next 10 hrs 20 mins and receive it by Today, Mar 1</p>

                  </div>

                  <div class="float-right text-right">

                    <p class="price">KD <strong>2,649.00</strong></p>


                    <div class="qty">
                      <label for="">Quantity</label>
                      <div class="input-quantity">
                        <input type="button" id="minus" value="-">
                        <span class="number" id="value-quality">1</span>
                        <input type="hidden" name="quantity" id="count" value="1">
                        <input type="button" id="plus" value="+">
                      </div>
                    </div>

                    <p>Max Quantity: 4</p>

                    <a href="#" class="removeFromCart">Remove</a>

                  </div>

                </div>

                <div class="products-cart">

                  <a href="product.html"><img class="float-left" src="img/products/t-1.jpg" alt=""></a>

                  <div class="float-left content-center">

                    <h3>Lexiit Product Sample</h3>

                    <p><strong>Size</strong> : XL</p>

                    <p><strong>Color</strong> : Red</p>

                    <p>Order in the next 10 hrs 20 mins and receive it by Today, Mar 1</p>

                  </div>

                  <div class="float-right text-right">

                    <p class="price">KD <strong>2,649.00</strong></p>

                    <div class="qty">
                      <label for="">Quantity</label>
                      <div class="input-quantity">
                        <input type="button" id="minus" value="-">
                        <span class="number" id="value-quality">1</span>
                        <input type="hidden" name="quantity" id="count" value="1">
                        <input type="button" id="plus" value="+">
                      </div>
                    </div>

                    <p>Max Quantity: 4</p>

                    <a href="#" class="removeFromCart">Remove</a>

                  </div>

                </div>

              </div>



              <div class="checkout-side hide-mobile col-12 col-md-5 col-lg-4">

                <div class="box-borderd">

                  <a href="checkout.html" class="secure-checkout text-center"><i class="fa fa-"></i> Secure Checkout</a>

                  <div class="coupon">

                    <form class="" action="" method="post">

                      <input type="text" name="" value="" placeholder="verifie the coupon code ...">

                      <button type="submit" name="button">Apply</button>

                    </form>

                  </div>

                  <hr>

                  <h4>ORDER SUMMARY</h4>

                  <p>Subtotal (1 item)<strong class="float-right">KD 2,649.00</strong></p>

                  <p>Ship to KDaite<strong class="float-right">KD 3.00</strong></p>

                  <p>Total <span>(Inclusive of VAT)</span> <strong class="float-right">2,649.00</strong></p>

                </div>

                <div class="checkout-info">

                  <h4>Buy now, pay later with noon EMI</h4>

                  <p>Available on purchases over KD 1,000 at the following banks. Click here for more information.</p>

                  <p>Our checkout is safe and secure. Your personal and payment information is securely transmitted via
                    128-bit encryption. We do not store any payment card information on our systems.</p>

                </div>

                <ul class="payement-methods col-12">

                  <li><i class="fa fa-cc-mastercard"></i></li>

                  <li><i class="fa fa-cc-visa"></i></li>

                  <li><i class="fa fa-cc-paypal"></i></li>

                </ul>

              </div>





            </div>



            <div class="row">

              <div class="col-12 clearfix cart-may-buy">

                <div class="slide-products">

                  <div class="title-lined">

                    <h2>PEOPLE WHO BOUGHT THIS ITEM ALSO BOUGHT</h2>

                  </div>

                </div>

                <div class="Monthly owl-carousel owl-theme">

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-1.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-2.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-2.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-3.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-5.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-6.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-7.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-8.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-9.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="#">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-5.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-2.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="item small-view-product">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-1.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                </div>

              </div>

            </div>



          </div>



        </div>

      </div>

    </section>



    <div class="checkout-side-button only-mobile col-12 col-md-5 col-lg-4">

      <div class="box-borderd">

        <a href="checkout.html" class="secure-checkout text-center"><i class="fa fa-"></i> Secure Checkout</a>

      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'Cart',
  }
</script>

<style>

</style>