<template>

    <section>

      <div class="container">

        <div class="row">

          <ul class="pages-sctructer">

            <li><a href="#">Home</a></li>

            <li><a href="#">Furniture</a></li>

          </ul>



          <div class="col-12 clearfix products-filter">

            <div class="row">

              <div class="filter-bar hide-mobile col-12 col-md-4 col-lg-3">

                <div class="filter-part">

                  <h3 class="title-filter">Category</h3>

                  <div class="filter-content">

                    <ul>

                      <li><a href="#"><strong>Furniture <span class="float-right">(4165)</span></strong></a></li>

                      <ul>

                        <li><a href="#">Rugs <span class="float-right">(4165)</span></a></li>

                        <li><a href="#">Rugs <span class="float-right">(4165)</span></a></li>

                        <li><a href="#">Bed & Bath <span class="float-right">(4165)</span></a></li>

                        <li><a href="#">Home Improvement <span class="float-right">(4165)</span></a></li>

                        <li><a href="#">Kitchen <span class="float-right">(4165)</span></a></li>

                      </ul>

                    </ul>

                  </div>

                </div>

                <div class="filter-part">

                  <h3 class="title-filter">Brand</h3>

                  <div class="filter-content">

                    <ul class="checkbox">

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Brand Name</label></li>

                    </ul>

                  </div>

                </div>

                <div class="filter-part">

                  <h3 class="title-filter">Price</h3>

                  <div class="filter-content">

                    <input type="number" name="" value="" class="price-start"> <b class="mx-2 text-uppercase font-weight-light">To</b> <input type="number" name="" value="" class="price-end">

                    <button type="button" name="button">Go</button>

                  </div>

                </div>

                <div class="filter-part">

                  <h3 class="title-filter">Color</h3>

                  <div class="filter-content">

                    <ul class="checkbox">

                      <li><label for=""><input type="checkbox" name="" value=""> Red</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Yellow</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Green</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Blue</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Red</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Yellow</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Green</label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Blue</label></li>

                    </ul>

                  </div>

                </div>

                <div class="filter-part">

                  <h3 class="title-filter">Department</h3>

                  <div class="filter-content">

                    <ul class="checkbox">

                      <li><label for=""><input type="checkbox" name="" value=""> Boys <span>(1500)</span></label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Girls <span>(1500)</span></label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Women <span>(1500)</span></label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Unisex <span>(1500)</span></label></li>

                      <li><label for=""><input type="checkbox" name="" value=""> Baby <span>(1500)</span></label></li>

                    </ul>

                  </div>

                </div>

              </div>

              <div class="col-12 only-mobile">

                <div class="">

                  <p class="col-12 search-results">4165 results</p>

                  <div class="col-12 filter-mobile">

                    <div class="row">

                      <div class="col-4">

                        <button type="button" name="button">

                          Sort by

                          <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>

                        </button>

                      </div>

                      <div class="col-4">

                        <button type="button" name="button">

                          Refine

                          <i class="fa fa-filter" aria-hidden="true"></i>

                        </button>

                      </div>

                      <div class="col-4">

                        <button type="button" name="button">

                          List

                          <i class="fa fa-list" aria-hidden="true"></i>

                        </button>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

              <div class="products-results col-12 col-md-8 col-lg-9">

                <div class="ol-12 col-lg-7 float-right hide-mobile">

                  <div class="float-right select-filter">

                    <label>Display</label>

                    <select class="" name="">

                      <option value="">50 Per page</option>

                      <option value="">100 Per page</option>

                      <option value="">150 Per page</option>

                      <option value="">200 Per page</option>

                    </select>

                  </div>

                  <div class="float-right select-filter">

                    <label>Sort By</label>

                    <select class="" name="">

                      <option value="">Popularity</option>

                      <option value="">Price: High to Low</option>

                      <option value="">Price: Low to High</option>

                    </select>

                  </div>

                </div>

                <p class="col-12 hide-mobile col-lg-5 float-left search-results">4165 results for <strong>"Football T-shirt"</strong></p>

                <div class="clearfix"></div>



                <div class="products-list">

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-1.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-2.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-3.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-4.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-5.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-6.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-7.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-8.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-9.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-1.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-2.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-3.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-4.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-5.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-6.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-7.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-8.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                  <div class="small-view-product col-6 col-lg-4 col-xl-3 float-left">

                    <a href="product.html">

                      <div class="wrap">

                        <div class="product-image">

                          <div class="product-statut">NOW</div>

                          <img src="img/products/t-9.jpg" alt="">

                          <div class="product-deal-statut">Crazy Deal</div>

                        </div>

                        <div class="product-category">Apple</div>

                        <h3>Lexiit Product Sample</h3>

                        <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                      </div>

                    </a>

                  </div>

                </div>



              </div>



            </div>

          </div>



        </div>

      </div>

    </section>
</template>

<script>
export default {
  name: 'Category',
}
</script>

<style>

</style>
