<template>
    <div>
    
    <section>

      <div class="container">

        <div class="row">



          <div class="col-12 clearfix checkout-page">

            <h1>Add New Address</h1>

            <form class="" action="" method="post">

              <div class="row">

                <div class="form-group col-12 col-md-6">

                  <label for="">First Name</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Last Name</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Email Address</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Mobile Number</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Country</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">City</label>

                  <select class="form-control" name="">

                    <option value="">Choose</option>

                  </select>

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Area</label>

                  <select class="form-control" name="">

                    <option value="">Choose</option>

                  </select>

                </div>

                <div class="form-group col-12 col-md-6">

                  <label for="">Apartment/Flat Number, Tower Number, Building Name</label>

                  <input type="text" name="" value="" class="form-control">

                </div>

                <div class="form-group col-12">

                  <label for="">Address Label (Optional)</label>

                  <select class="form-control" name="">

                    <option value="">Choose</option>

                  </select>

                </div>

                <div class="hide-small col-4 mt-4">          
                  <a href="checkout.html" class="secure-checkout text-center">Continue <i class="fa fa-angle-right"></i></a>
                </div>

                <div class="checkout-side-button only-mobile col-12">

                  <div class="box-borderd">
            
                    <a href="checkout.html" class="secure-checkout text-center">Continue <i class="fa fa-angle-right"></i></a>
            
                  </div>
            
                </div>

              </div>

            </form>

          </div>



        </div>

      </div>

    </section>



    <p class="px-2 my-3 text-center">Our checkout is safe and secure. Your personal and payment information is securely transmitted via 128-bit encryption. We do not store any payment card information on our systems</p>

    </div>
</template>

<script>
export default {
  name: 'Checkout',
}
</script>

<style>

</style>
