<template>
    <section>
      <div class="container">
        <div class="row">
          
          <div class="slide-main col-12 clearfix">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="@/assets/img/slide-1.jpg" alt="">
                </div>
                <div class="carousel-item">
                  <img src="@/assets/img/slide-2.jpg" alt="">
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>

          <!--<div class="w-100 categories-ads">
            <a href="#">
              <img src="@/assets/img/l-banner.jpg" alt="">
            </a>
          </div>-->

          <div class="col-12 mt-3 clearfix">
            <div class="title-lined">
              <h2>More Categories</h2>
            </div>
            <div class="row">
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat1.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat2.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat3.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat4.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat5.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat6.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat7.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
              <div class="col-6 col-md-4 my-3 col-xl-3 single-categoy-item text-center">
                <a href="">
                  <div class="cat-img m-auto"><img src="@/assets/img/categories/cat8.jpg" alt=""></div>
                  <h4>SOFAS & COUCHES</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 mt-4 clearfix">
            <div class="slide-products">
              <div class="title-lined">
                <h2>Features Product</h2>
                <div class="view-more"><a href=""><span>View All <i class="fa fa-arrow-right"></i> </span></a></div>
              </div>
            </div>
            <div class="Monthly owl-carousel owl-theme">
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-3.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-6.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-7.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-8.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-9.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="#">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>

                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 clearfix">
            <div class="row">
              <div class="col-12 col-sm-6 categories-ads">
                <a href="#">
                  <img src="@/assets/img/l-banner-1.jpg" alt="">
                </a>
              </div>
              <div class="col-12 col-sm-6 categories-ads">
                <a href="#">
                  <img src="@/assets/img/l-banner-2.jpg" alt="">
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 mt-4 clearfix">
            <div class="slide-products">
              <div class="title-lined">
                <h2>Top Seller</h2>
                <div class="view-more"><a href=""><span>View All <i class="fa fa-arrow-right"></i> </span></a></div>
              </div>
            </div>

            <div class="category owl-carousel owl-theme">
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-3.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-6.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-7.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-8.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-9.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="#">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>

                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="my-5 ads-img col-12 clearfix">
            <img src="@/assets/img/l-banner-3.jpg" alt="">
          </div>

          <div class="col-12 mt-3 clearfix">
            <div class="slide-products">
              <div class="title-lined">
                <h2>Garage Sale</h2>
                <div class="view-more"><a href=""><span>View All <i class="fa fa-arrow-right"></i> </span></a></div>
              </div>
            </div>
            
            <div class="tshirt owl-carousel owl-theme">
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-3.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-6.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-7.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-8.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-9.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="#">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>

                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="my-5 ads-img col-12 clearfix">
            <img src="@/assets/img/l-banner-3.jpg" alt="">
          </div>

          
          <div class="col-12 mt-4 clearfix">
            <div class="slide-products">
              <div class="title-lined">
                <h2>Families at home & on-the-go</h2>
                <div class="view-more"><a href=""><span>View All <i class="fa fa-arrow-right"></i> </span></a></div>
              </div>
            </div>

            <div class="row">
              <div class="category-modern col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="wrap">
                  <div class="img" style="background-image:url(./assets/img/products/t-4.jpg)"></div>
                </div>
                <div class="px-3" style="margin-top:-50px;">
                  <div class="content text-center p-3">
                    <h3><a href="">Inside the play zone</a></h3>
                    <p>Utque proeliorum periti rectores primo catervas densas opponunt et fortes, deinde leves armaturas.</p>
                  </div>
                </div>
              </div>
              <div class="category-modern col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="wrap">
                  <div class="img" style="background-image:url(./assets/img/products/t-4.jpg)"></div>
                </div>
                <div class="px-3" style="margin-top:-50px;">
                  <div class="content text-center p-3">
                    <h3><a href="">Inside the play zone</a></h3>
                    <p>Utque proeliorum periti rectores primo catervas densas opponunt et fortes, deinde leves armaturas.</p>
                  </div>
                </div>
              </div>
              <div class="category-modern col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="wrap">
                  <div class="img" style="background-image:url(./assets/img/products/t-4.jpg)"></div>
                </div>
                <div class="px-3" style="margin-top:-50px;">
                  <div class="content text-center p-3">
                    <h3><a href="">Inside the play zone</a></h3>
                    <p>Utque proeliorum periti rectores primo catervas densas opponunt et fortes, deinde leves armaturas.</p>
                  </div>
                </div>
              </div>
              <div class="category-modern col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="wrap">
                  <div class="img" style="background-image:url(./assets/img/products/t-4.jpg)"></div>
                </div>
                <div class="px-3" style="margin-top:-50px;">
                  <div class="content text-center p-3">
                    <h3><a href="">Inside the play zone</a></h3>
                    <p>Utque proeliorum periti rectores primo catervas densas opponunt et fortes, deinde leves armaturas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5 clearfix">
            <div class="slide-products">
              <div class="title-lined">
                <h2>Descount items</h2>
                <div class="view-more"><a href=""><span>View All <i class="fa fa-arrow-right"></i> </span></a></div>
              </div>
            </div>
            
            <div class="descount owl-carousel owl-theme">
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-3.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-6.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-7.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-8.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-9.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="#">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-5.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-2.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>
                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
              <div class="item small-view-product">
                <a href="product.html">
                  <div class="wrap">
                    <div class="product-image">
                      <div class="product-statut">NOW</div>
                      <img src="@/assets/img/products/t-1.jpg" alt="">
                      <div class="product-deal-statut">Crazy Deal</div><div class="quick-view">Quick View</div>
                    </div>
                    <div class="product-category">Apple</div>

                    <h3>Lexiit Product Sample</h3>
                    <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="mt-3 ads-img col-12 clearfix">
            <img src="@/assets/img/l-banner-4.jpg" alt="">
          </div>

        </div>
      </div>
    </section>
</template>

<script>
export default {
  name: 'Home',
}
</script>

<style>

</style>
