<template>


    <section>

      <div class="container">

        <div class="row">

          <ul class="pages-sctructer">

            <li><a href="#">Home</a></li>

            <li>Login</li>

          </ul>

          <div class="login-page mt-4">

            <div class="wrap">

              <h1>We're Thrilled To Have You Back</h1>

              <form class="" action="" method="post">

                <div class="form-group">

                  <input type="email" class="form-control" placeholder="Email adresse" name="email">

                </div>

                <div class="form-group password-input">

                  <input type="password" class="form-control" placeholder="Password" name="password">

                  <i class="fa fa-eye"></i>

                </div>

                <a href="#">Forgot password ?</a>

                <button type="submit" name="button">Sign in</button>

                <p>Don't have an account ? <a href="register.html">Sign Up</a></p>



                <ul class="social-media-register">

                  <li class="facebook-register"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>

                  <li class="google-register"><a href="#"><i class="fa fa-google" aria-hidden="true"></i> Google Account</a></li>

                </ul>

              </form>

            </div>

          </div>

        </div>

      </div>

    </section>

</template>

<script>
export default {
  name: 'Login',
}
</script>

<style>

</style>
