<template>

    <section>

      <div class="container">

        <div class="row">

          <ul class="pages-sctructer">

            <li><a href="#">Home</a></li>

            <li><a href="#">Furniture</a></li>

            <li><a href="#">Living Room Furniture</a></li>

          </ul>



          <div class="col-12 clearfix product-top">

            <div class="row">

              <div class="porduct-thumbnails col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">

                <div id="demo" class="carousel slide" data-ride="carousel">

                  <ul class="carousel-indicators">

                    <li data-target="#demo" data-slide-to="0" class="active"></li>

                    <li data-target="#demo" data-slide-to="1"></li>

                    <li data-target="#demo" data-slide-to="2"></li>

                    <li data-target="#demo" data-slide-to="3"></li>

                  </ul>

                  <div class="carousel-inner">

                    <div class="carousel-item active">

                      <a data-lightbox="example-set" href="img/products/t-1.jpg"><img src="img/products/t-1.jpg" alt="product image"></a>

                    </div>

                    <div class="carousel-item">

                      <a data-lightbox="example-set" href="img/products/t-2.jpg"><img src="img/products/t-2.jpg" alt="product image"></a>

                    </div>

                    <div class="carousel-item">

                      <a data-lightbox="example-set" href="img/products/t-8.jpg"><img src="img/products/t-8.jpg" alt="product image"></a>

                    </div>

                    <div class="carousel-item">

                      <a data-lightbox="example-set" href="img/products/t-9.jpg"><img src="img/products/t-9.jpg" alt="product image"></a>

                    </div>

                  </div>

                </div>

              </div>

              <div class="porduct-wrap col-12 col-md-6 col-lg-5">

                <h1>Product name</h1>

                <p><a href="#">Brand Name</a> Model NKNJNJ3010</p>

                <div class="info-price">

                  <p><span>KDT 99.000</span>Inclusive of VAT</p>

                </div>

                <div class="info-ss">

                  <p>

                    <span>Size</span>

                    <ul class="custom-choix-radio">
                      <li class="inline-list">
                        <input type="radio" name="size" id="s">
                        <label for="s">S</label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="size" id="m">
                        <label for="m">M</label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="size" id="l">
                        <label for="l">L</label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="size" id="xl">
                        <label for="xl">XL</label>
                      </li>
                    </ul>

                  </p>

                  <p>

                    <span>Color</span>

                    <ul class="custom-choix-radio">
                      <li class="inline-list">
                        <input type="radio" name="color" id="red">
                        <label for="red" style="background:red;"></label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="color" id="black">
                        <label for="black" style="background:black;"></label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="color" id="green">
                        <label for="green" style="background:green;"></label>
                      </li>
                      <li class="inline-list">
                        <input type="radio" name="color" id="gray">
                        <label for="gray" style="background:gray;"></label>
                      </li>
                    </ul>

                  </p>

                  <p class="hide-mobile">
                    <span class="color-custom">In Stock</span>
                  </p>

                  <div class="input-quantity float-left hide-mobile">
                    <input type="button" id="minus" value="-">
                    <span class="number" id="value-quality">1</span>
                    <input type="hidden" name="quantity" id="count" value="1">
                    <input type="button" id="plus" value="+">
                  </div>

                  <button type="button" class="float-left hide-mobile" name="button">ADD to cart</button>

                  <div class="clear"></div>

                  <hr>

                  <p>

                    <span>Delivery</span>

                    Order in the next <strong>09</strong> hrs <strong>40</strong> mins and receive it

                    <select class="Delivery-place" name="">

                      <option value="">KSA</option>

                      <option value="">Kwaite</option>

                      <option value="">UAE</option>

                      <option value="">Morocco</option>

                    </select>

                    by <span class="color-custom delivery-date">Tomorrow, Mar 3</span>

                  </p>

                  <hr>

                  <p><i class="fa fa-tag"></i> 1 other offer from <strong>KD 220.00</strong></p>

                  <hr>

                  <ul class="info-share">

                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>

                  </ul>

                </div>

              </div>

              <div class="product-more-info col-12 col-md-6 col-lg-3">

                <ul class="nav nav-pills">

                  <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#overview">OVERVIEW</a></li>

                  <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#specification">SPECIFICATIONS</a></li>

                </ul>



                <div class="tab-content">

                  <div id="overview" class="tab-pane active">

                    <h3>HIGHLIGHTS</h3>

                    <ul>

                      <li>Stretchable and lightweight polyester fabric provides personalized fit</li>

                      <li>Moisture wicking Dri-Fit fabric helps keep skin dry</li>

                      <li>Stays tucked in during any workout or competition</li>

                      <li>Pull-on design and long back keeps the Hijab in place</li>

                      <li>Nike swoosh branding print</li>

                    </ul>

                  </div>

                  <div id="specification" class="tab-pane">

                    <div class="row">

                      <div class="col-12">

                        <table class="table table-striped">

                          <tbody>

                            <tr>

                              <td>Model Number</td>

                              <td>NKNJNJ3010</td>

                            </tr>

                            <tr>

                              <td>Colour</td>

                              <td>Black</td>

                            </tr>

                            <tr>

                              <td>Department</td>

                              <td>Women</td>

                            </tr>

                          </tbody>

                        </table>

                      </div>

                      <div class="col-12">

                        <table class="table table-striped">

                          <tbody>

                            <tr>

                              <td>Country of Origin</td>

                              <td>China</td>

                            </tr>

                            <tr>

                              <td>Material</td>

                              <td>92% Polyester 8% Elastane (Machine wash)</td>

                            </tr>

                            <tr>

                              <td>Closing</td>

                              <td>Slip in</td>

                            </tr>

                          </tbody>

                        </table>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>



          <div class="porduct-shipping clearfix">

            <div class="row">

              <div class="col-12 col-md-6 col-lg-3">

                <div class="shipping">

                  <img src="img/shipping-1.png" alt="">

                  <div class="shipping-text">

                    <h4>Fast Shipping</h4>

                    <p>Receive products in amazing time</p>

                  </div>

                </div>

              </div>

              <div class="col-12 col-md-6 col-lg-3">

                <div class="shipping">

                  <img src="img/shipping-2.png" alt="">

                  <div class="shipping-text">

                    <h4>Easy Returns</h4>

                    <p>Return policy that lets you shop at ease</p>

                  </div>

                </div>

              </div>

              <div class="col-12 col-md-6 col-lg-3">

                <div class="shipping">

                  <img src="img/shipping-3.png" alt="">

                  <div class="shipping-text">

                    <h4>Always Authentic</h4>

                    <p>We only sell 100% authentic products</p>

                  </div>

                </div>

              </div>

              <div class="col-12 col-md-6 col-lg-3">

                <div class="shipping">

                  <img src="img/shipping-4.png" alt="">

                  <div class="shipping-text">

                    <h4>Secure Shopping</h4>

                    <p>Your data is always protected</p>

                  </div>

                </div>

              </div>

            </div>

          </div>



          <div class="related-products col-12 clearfix">

            <div class="row">

              <div class="slide-products">

                <div class="title">

                  <h3 class="text-left p-0">YOU MIGHT ALSO LIKE</h3>

                </div>

              </div>

              <div class="Monthly owl-carousel owl-theme">

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-1.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-2.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-2.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-3.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-5.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-6.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-7.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-8.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-9.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="#">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-5.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-2.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

                <div class="item small-view-product">

                  <a href="product.html">

                    <div class="wrap">

                      <div class="product-image">

                        <div class="product-statut">NOW</div>

                        <img src="img/products/t-1.jpg" alt="">

                        <div class="product-deal-statut">Crazy Deal</div>

                      </div>

                      <div class="product-category">Apple</div>

                      <h3>Lexiit Product Sample</h3>

                      <div class="product-price"><span>KD 681.50</span> <i class="saved">16% off</i><br>KD 669.00</div>

                    </div>

                  </a>

                </div>

              </div>

            </div>

          </div>



          <div class="only-mobile bar-product">
            <div class="quantity">
              <input size="25" value="1" id="count" type="text">
            </div>
            <div class="addToCartMobile">
              <a class="btn-primary" id="addToCart">Add to Cart</a>
            </div>
          </div>



        </div>

      </div>

    </section>

</template>

<script>
export default {
  name: 'Product',
}
</script>

<style>

</style>
