<template>
  <div id="Layout">
    <Header />
      <router-view></router-view>
    <Footer />
  </div>
</template>

<script>

import Header from './../includes/header.vue'
import Footer from './../includes/footer.vue'
import Home from './../pages/home.vue'

export default {
  name: 'Layout',
  components: {
    Header,
    Footer,
  }
}
</script>