/*

  * icon

  *

*/

.icon{background-size: contain;background-position: center;background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.flag-uae{background-image: url('../img/flag-uae.png');}
.flag-usa{background-image: url('../img/flag-usa.png');}
.flag-fra{background-image: url('../img/flag-fra.png');}
.flag-kwt{background-image: url('../img/flag-kwt.png');}



/*

  * general

  *

*/

input, button, a, i, textarea{box-shadow: inherit !important;outline: inherit !important;}

h1, h2, h3, h4, h5, h6{font-family: 'Oswald', sans-serif;letter-spacing: .5px;}

body{overflow-x: hidden;font-family: 'Roboto', sans-serif;}

a, a:hover{text-decoration: none;}

a:hover{transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}

.container{max-width: 90%;}

.clearfix{clear: both;}

.owl-carousel{position: relative;}

.owl-carousel .owl-stage-outer{z-index: 9}

.owl-theme .owl-nav{position: absolute;width: calc(100% + 60px);top: 50%;left: -30px;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next{float: left;color: #666;font-size: 40px;margin: 0;padding: 5px;background: inherit;display: block;cursor: pointer;border-radius: 0;}

.owl-theme .owl-nav .owl-next{float: right;}

.owl-theme .owl-nav .disabled{opacity: 0;}

.owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover{color: #666;background: inherit}



/*

  * start

  *

*/

header{padding: 15px 0;background-color:#fff;position: sticky;position: -webkit-sticky;position: -moz-sticky;top: 0;z-index: 999;}

header .container{padding: 0}

header img{height: 40px;width: auto;}

header .search{position: relative;border: 1px solid #363739;border-radius: 10px;overflow: hidden;}

header .search input{width: 100%;padding: 10px 60px 10px 15px;background: #fff;height: 40px;box-shadow: none;border: 0;}

header .search button{position: absolute;top: 0;right: 0;height: 40px;line-height: 40px;width: 50px;background-color: #fff;box-shadow: inherit;border:0;text-align: center;}

header .search button i{font-size: 20px;}

header .float-right{display: flex;}

header .float-right > div{padding:5px 7.5px;position: relative;font-weight: 700;}

header .float-right > div::after{content: "";height: 25px;width: 1px;background-color: #fff;position: absolute;right: 0;top: 10px;}

header .float-right > div:last-child::after{display: none;}

header .float-right > div a{color: #363739;font-size: 14px;position: relative;top: 0px;height: 30px;line-height: 31px;display: inline-block;}

.country{line-height: 27px;}

.country a{position: relative;top: -3px;}

.country > a::after, .log > a::after{content: "▾";margin-top: 4px;display: block;float: right;margin-left: 7.5px;font-size: 18px;line-height: 20px;}

.country i{width: 30px;height: 15px;margin-right:2.5px;}

.choosing{position: absolute;width: 100%;padding: 10px;background-color: #fff;border-radius: 5px;top: 110%;left: 0;border: 1px solid #dfdfdf;z-index: 9;}

/*.choosing::before{content: "▲";font-size: 25px;color: #fff;position: absolute;top: -20px;left: 10px;}*/

#country-choose a, #country-choose-1 a{display: block;display: block;top: 0;color:#363739}

#sign-choose p{font-size: 10px;color: #7e859b;font-weight: 200;margin: 3px;}

#sign-choose a{display: block;padding: 5px;background-color: #bf191d;color: #fff;font-size: 14px;height: auto;line-height: inherit;}

#sign-choose p a{font-size: 10px;color: #bf191d;padding: 0;background: none;font-weight: 200}

.cart i{font-size: 20px;font-size: 20px;display: block;margin-top: 5px;}



#country-choose-1{width: 150px;left: inherit;right:15px;top: 100%;}

#country-choose-1 a{padding: 10px;border: 1px solid #eee;}

#country-choose-1 i{width: 30px;height: 15px;margin-right: 5px;float: left;margin-top: 4px;}



.slide-main{padding: 30px 0;}

.slide-main .carousel-control-next, .slide-main .carousel-control-prev{height: 50px;bottom: inherit;top: 50%;width: 50px;background-color:#b1b1b199;opacity: 1;transform: translatey(-50%);-webkit-transform: translatey(-50%);-moz-transform: translatey(-50%);}

.slide-main .carousel-control-prev{left: 15px;}

.slide-main .carousel-control-next{right: 15px;}

.slide-main img{width: 100%;}



.slide-products{}

.title-lined{margin-bottom: 25px;position: relative;text-align: center;font-size: 20px;}

.title-lined::before{content: "";position: absolute;width: 100%;z-index: 0;left: 0;top: 50%;height: 1px;background-color: #e2e5f1;}

.title-lined h2, .title h2{display: inline-block;background-color: #fff;padding: 0 15px;position: relative;font-weight: bold;color: #bf191d;letter-spacing: 2px;}

.title-lined .view-more{right: 30px;transform: translateY(-50%);padding: 0 15px;background-color: #fff;position: absolute;z-index: 1;top:45%;}

.title-lined a{font-size: 14px;color: #363739;text-transform: uppercase;}

.title-lined i{margin-left: 7px;font-size: 18px;}

.title h2{text-align: center;display: block;margin: 30px 0;}

.title a{color: #363739;}

.title h2 span{padding: 5px 10px;border: 1px solid #cf3f15;background-color: #bf191d;color: #fff;display: inline-block;margin: 5px 0}

.custom-choix-radio{overflow: hidden;}
.custom-choix-radio li input{opacity: 0;visibility: hidden;width: 0;height: 0;}
.custom-choix-radio li label{width:40px;height:40px;text-align:center;line-height:33px;border-radius: 50%;font-size: 14px;cursor: pointer;border: 4px solid transparent;background: #363739;color:#fff;}
.custom-choix-radio li input:checked + label{opacity: .9;border:4px solid #fff;font-size: 10px;}

.clear{clear: both;}
.input-quantity{width: 120px;margin: 5px 0 0;}
.input-quantity input[type="button"]{float: left;background: transparent;border: 1px solid #ccc;width: 25px;text-align: center;padding: 0;height: 40px;cursor: pointer;font-size: 20px;}
.input-quantity input[type="text"], .input-quantity .number{line-height: 38px;border: 1px solid #ccc;width: 40px;height: 40px;padding: 0;margin: 0 5px;float: left;text-align: center;}

.small-view-product{}

.small-view-product .wrap{border:1px solid #e2e5f1;position: relative;padding: 10px;margin-bottom: 30px;margin-right: 1px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}

.small-view-product a{color: #363739;}

.small-view-product .product-image{position: relative;overflow: hidden;}

.small-view-product .product-image .quick-view{position: absolute;bottom:-50px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);background-color: #bf191d;padding: 5px 10px;color: #fff;text-transform: uppercase;font-size: 13px;font-weight: bold;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}
.small-view-product .product-image .quick-view:hover{background-color: #363739;}
.small-view-product:hover .product-image .quick-view{bottom: 15px;}

.small-view-product .product-statut{z-index: 9;position: absolute;top: 5px;left: 0;color: #fff;font-size: 10px;background-color: #363739;border-radius:10px;padding: 3px 12px;font-weight: 700;}

.small-view-product .product-image img{width: 100%;height: auto;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}

.small-view-product .product-deal-statut{z-index: 9;position: absolute;bottom: 0;left: 0;font-size: 10px;color: #fff;background-color: #363739;border-radius: 2px;padding: 3px 6px;}

.small-view-product .product-category{color: #7e859b;line-height: 30px;font-size: 12px;}

.small-view-product h3{height:40px;font-size: 17px;line-height: 20px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}

.small-view-product .product-price{font-weight: 500;font-size: 14px;}

.small-view-product .product-price span{color: #b2bbd2;font-weight: 100;text-decoration: line-through;font-size: 12px;}

.small-view-product .product-price .saved{display: inline-block;background-color: rgba(56, 174, 4, .3);color: #38ae04;font-size: 9px;padding: 2.5px 5px;margin-left: 7px;font-style: normal;font-weight: bold;text-decoration: none;}

.small-view-product .wrap:hover{border-color: #bf191d;}

.small-view-product .wrap:hover h3{color: #bf191d;}

.small-view-product .wrap:hover .product-image img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}



.categories-ads{margin:0 0 20px;}

.categories-ads a{display: block;padding:0;}

.categories-ads img{width: 100%;max-height: auto;margin-bottom:0;}

.categories-ads h3{color: #7e859b;font-size: 25px;line-height: 29px;margin: 0 0 5px;}

.categories-ads h4{color: #bf191d;font-size: 19px;line-height: 23px;margin: 0;font-weight: 900;}



.ads-img img{width: 100%}



.product-medule1{margin-bottom: 25px;}

.product-medule1 img{width: 100%;margin-bottom: 5px;}

.product-medule1 h3{text-align: center;margin: 0;font-size: 17px;line-height: 20px;font-weight: 900;color: #f95425;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;}

.product-medule1 h3:hover{color: #363739;}

.product-medule1 h3 span{font-size: 21px;display: block;}



footer{margin-top: 60px;overflow: hidden;}

footer h5{font-size: 16px;text-transform: uppercase;margin-bottom: 20px;}

.top-footer, .bottom-footer{border-top: 1px solid #e2e5f1;border-bottom: 1px solid #e2e5f1;background-color: #f7f7fa;padding: 15px 0;}

.top-footer .helpful{display: flex;margin-top: 10px;}

.top-footer .helpful:hover{opacity: .7;}

.top-footer i{width: 40px;height: 40px;border-radius: 40px;line-height: 40px;border: 1px solid #f7f7fa;color: #222;background-color: #fff;font-size: 18px;text-align: center;}

.top-footer .helpful-info{margin-left:10px;font-size: 15px;}

.top-footer .helpful-info a{display: block;clear: both;font-weight: bold;color: #222;line-height: 18px;}

.center-footer{padding: 30px 0;}

.center-footer ul{margin-bottom: 30px;}

.center-footer li{font-size: 14px;line-height: 16px;margin-bottom: 5px;}

.center-footer a{color: #222;}

.center-footer a:hover{color: #bf191d;}

.center-footer img.stores{height: 40px;max-width: 100%;width: auto;}

footer p{margin: 0;}

footer ul{list-style-type: none;padding: 0;margin: 0;display: inline-block;}

.social-media{text-align: center;}

.social-media ul{margin-bottom: 0;}

.social-media li{float: left;}

.social-media i{width: 40px;height: 40px;margin: 0 5px;border-radius: 40px;text-align: center;line-height: 40px;font-size: 18px;color: #fff;background-color: #bf191d;}



/*footer .bottom-footer .container{padding: 0}*/

footer .bottom-footer p{font-size: 12px;}

footer .bottom-footer li{display: inline;margin-right: 10px;line-height: 17px;}

footer .bottom-footer li:last-child{margin-right: 0;}

footer .bottom-footer li a{font-size: 14px;color: #363739;font-weight:100;}

footer .bottom-footer li a:hover{color:#bf191d }

footer .payement-methods li{float: left;margin-right: 5px;font-size: 25px;}

footer .bottom-footer ul{display: inline-block;text-align: right;}

/* - */
.single-categoy-item{overflow: hidden;}
.single-categoy-item a{display: block}
.single-categoy-item .cat-img{max-width: 170px;max-height:170px;overflow: hidden;}
.single-categoy-item img{max-width: 170px;max-height:170px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}
.single-categoy-item h4{font-size: 1.1rem;margin: 0;padding: 10px;background-color: #363739;color: #fff;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}
.single-categoy-item a:hover img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
.single-categoy-item a:hover h4{background-color: #bf191d;}

.only-mobile{display: none;}

.only-mobile .cart i{color: #fff;text-align: right;display: block;float: right;font-size: 25px;margin-top: 7.5px;}



/* menu - nicemenu */

.cart-icon{width: 25px;height: auto;}

nav{height: 40px;border-bottom:1px solid #e2e5f1;border-top:1px solid #e2e5f1;width: 100%;position: relative;z-index: 99;}

nav .float-left{position: relative;width: 100%;}

nav a{display: inline-block;height: 40px;padding: 0 15px;line-height: 40px;color: #363739;text-transform: uppercase;font-weight: 700;font-size: 14px;}

nav a:hover{color: #bf191d;}

nav .show-categories{cursor: pointer;border-right:1px solid #e2e5f1;width: 225px;display: inline-block;position: relative;}

nav .show-categories::after{content: "▾";display: inline-block;float: right;color: #363739;position: relative;top: 0;}

#line-navbar-collapse-2{position: absolute;top: 100%;left: 0;z-index: 10;width: 100%;}

.nicemenu{position:relative;display:block;width:100%;}

.nicemenu *{margin:0;padding:0;box-sizing:border-box}

.nicemenu .nicemenu-item > h6{width: 225px;background-color:#363739;}

.nicemenu-item{display:inline-block;z-index:11;padding:0}

.verticle>.nicemenu-item{display:block !important}

.nicemenu-sub{width: calc(100% - 225px);margin-left: 225px !important;position:absolute;z-index:12;display:none;min-height: 100%;background-color:#fff;padding:16px;overflow-y:auto;overflow-x:hidden;color:#363739;}

.nicemenu-sub.active{display:block}

.nicemenu-item h6 a{font-size:14px;line-height:20px;display: block;padding: 15px 20px;text-transform: uppercase;height: auto;}

.nicemenu-item.active h6 a{background-color:#fff;color:#363739;}

.nicemenu-item p{color:#a0a0a0;font-size:0.9em;line-height:2em}

.nicemenu-item a{color:#f0f0f0;text-decoration:none}

.nicemenu-sub h5{margin-bottom:15px;padding-bottom:15px;border-bottom: 1px solid #e9e9e9;overflow: hidden;}

.nicemenu-sub h5 a{display: inline-block;font-size: 14px;width: auto;}

.nicemenu-sub h6{color:#363739;font-size:14px;margin-bottom:15px;font-weight: 700;}

.nicemenu-sub ul{margin: 0;padding: 0;list-style-type: none;}

.nicemenu-sub li{margin-bottom:7.5px;line-height: 14px;}

.nicemenu-sub a{color:#666;font-size: 12px;height: auto;line-height: 17px;}

.nicemenu-sub a:hover{color:#f95425;}

.w-2-1{position:relative;float:left;width:50%;padding-right: 10px;}
.w-3-1{position:relative;float:left;width:33.3333%;padding-right: 10px;}
.w-4-1{position:relative;float:left;width:25%;padding-right: 10px;}
.w-5-1{position:relative;float:left;width:20%;padding-right: 10px;}

.show-categories:hover #line-navbar-collapse-2{display: block;}



.mobile-menu{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;padding: 0;transition: all .1s;-webkit-transition: all .1s;-moz-transition: all .1s;} /*  */

.mobile-menu .closeMenu{opacity: 0;visibility: hidden;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: rgba(0,0,0,.6);z-index: 0;transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s;}

.mobile-menu .responsive-menu{position: relative;left: -300px;background-color: #f1f1f1;height: 100%;width: 280px;max-width: 100%;overflow-y: scroll;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;}

.mobile-menu ul{list-style-type: none;margin: 0;padding: 0;width: 100%;border-bottom:10px solid #f1f1f1;}

.mobile-menu ul:last-child{border: 0;}

.mobile-menu li{position: relative;}

.mobile-menu a{border-bottom: 1px solid #f1f1f1;border-left: 1px solid #f1f1f1;color: #222;padding: 10px 15px;display: block;background-color: #fff;}

.mobile-menu a i{margin-right: 7.5px;}

.mobile-menu a i.icon.flag{width: 30px;height: 15px;margin-right: 0;float: right;margin-left: 5px;margin-top: 4px;}

.mobile-menu a span{color: #a9a9a9}

.mobile-menu ul ul{display: none;border-bottom: 1px solid #f1f1f1;padding-left: 25px;}/**/

.mobile-menu .has-children > a::after{font: normal normal normal 14px/1 FontAwesome;content: "\f107";position: absolute;right: 15px;top: 12.5px;font-size: 20px;cursor: pointer;color: #222;}

.mobile-menu .has-children.active > a::after{content: "\f106";}

/*.mobile-menu ul > li:last-child > a{border-bottom: 0;}*/

.toggle-menu i{text-align: center;display: inline-block;font-size: 30px;color: #363739;cursor: pointer;margin-top: 5px;}

.mobile-menu.active{z-index: 9999;}

.mobile-menu.active .responsive-menu{left: 0;}

.mobile-menu.active .closeMenu{opacity: 1;visibility: visible;}



.pages-sctructer{width:100%;padding:20px 0;list-style-type: none;margin: 0 15px;}

.pages-sctructer li{display: inline-block;color: #404553;height: 35px;line-height: 35px;position: relative;padding: 0 10px 0 0;font-size: 13px;margin-right: 10px;}

.pages-sctructer li::after{display: inline-block;font: normal normal normal 14px/1 FontAwesome;content: "\f105";position: absolute;right:-4px;font-size: 14px;color: #404553;top: 10px;}

.pages-sctructer li:last-child::after{display: none;}

.pages-sctructer li a{display: block;color: #404553;font-size: 13px;}

.pages-sctructer li a:hover{color:#bf191d;}



.product-more-info{width:100%;margin-top: 40px;}

.product-more-info > ul{border-bottom:1px solid #b2bbd2;overflow: hidden;width:100%;}

.product-more-info .nav-item a{border-radius: 0;margin: 0;display: inline-block;color: #b2bbd2;border-bottom: 4px solid #b2bbd2;border-bottom-color: rgb(178, 187, 210);text-transform: uppercase;font-size: 14px;font-weight: 700;letter-spacing: .1px;text-align: center;cursor: pointer;padding: 15px 30px;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: inherit;color: #bf191d;border-color:#bf191d;}

.product-more-info .tab-pane{padding: 20px 0;}

.product-more-info .tab-pane h3{font-weight: 700;font-size: 18px;margin: 0 0 15px;}

.product-more-info .tab-pane ul, .product-more-info .tab-pane ol{padding:0 20px 0;}

.product-more-info .tab-pane ul li, .product-more-info .tab-pane ol li, .product-more-info .tab-pane p{color: #404553;font-size: 14px;}

.product-more-info .tab-pane table td{font-size: 14px;}

.product-more-info .tab-pane table tr > td:first-child{width: 30%;max-width: 250px;}



.product-top{overflow: hidden;margin-bottom: 40px;padding: 0}

.product-top .porduct-thumbnails img{width: 100%;height: auto;cursor: zoom-in;}

.porduct-thumbnails .carousel-indicators{bottom: 0}

.porduct-thumbnails .carousel-indicators li{background-color: rgb(0, 0, 0);width: 10px;height: 10px;border-radius: 10px;overflow: hidden;}

.porduct-thumbnails .carousel-indicators .active{background-color: #bf191d;}

.info-ss{border: 1px solid #e2e5f1;padding: 15px;}

.porduct-wrap{margin-top: 40px;}

.porduct-wrap h1{font-size: 25px;margin: 0 0 5px;}

.porduct-wrap p{line-height: 20px;font-size: 12px;text-transform: uppercase;color: #666;overflow: hidden;}

.porduct-wrap p a{color: #bf191d;margin-right: 5px;}

.porduct-wrap select{padding: 0 5px;margin: 5px 15px 0 0;border: 1px solid #e2e5f1;height: 40px;line-height: 40px;width: 130px;color: #363739;}

.porduct-wrap button{cursor: pointer;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;margin: 5px 0 0;border: 0;box-shadow: inherit;color: #fff;height: 40px;line-height: 40px;padding: 0 10px;width: 200px;max-width: 100%;text-align: center;background-color: #bf191d;text-transform: uppercase;font-size: 16px;}

.porduct-wrap button:hover{background-color: #363739;}

.porduct-wrap p span{color: #363739;display: block;font-weight: 700;font-size: 12px;}

.porduct-wrap p span.color-custom{color: #bf191d;}

.porduct-wrap ul{margin: 5px 0 0;padding: 0;list-style-type: none;overflow: hidden;width: 100%;}

.porduct-wrap ul li{float: left;margin-right: 10px;}

.porduct-wrap ul li i{color: #666;font-size: 22px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;}

.porduct-wrap ul li i:hover{color: #bf191d;}

.porduct-wrap .info-price{padding: 15px;border: 1px solid #e2e5f1;border-bottom:0;}

.porduct-wrap .info-price p{font-size: 12px;color: #666;margin: 0}

.porduct-wrap .info-price p span{font-size: 25px;display: block;margin: 0;color: #363739;}

.porduct-wrap p .Delivery-place{background: url("../img/down-arrow.png") white no-repeat calc(100% - 5px);background-size: 14px;-webkit-appearance: none;-moz-appearance: none;appearance: none;height: auto;width: auto;text-decoration: underline;font-weight: 900;margin: 0 5px;border: 0;}

.search-results{line-height: 40px;height: 40px;font-size: 18px;}

.select-filter{margin-left: 15px;overflow: hidden;margin-bottom: 15px;}

.select-filter label{line-height: 40px;height: 40px;margin-right: 5px;font-size: 13px;}

.select-filter select{padding: 0 5px;margin:0;border: 1px solid #e2e5f1;height: 40px;line-height: 40px;width: 130px;color: #363739;}

.porduct-wrap p span.delivery-date{display: inline-block;}



.filter-bar{margin-bottom: 25px;}

.filter-part{border: 1px solid #e2e5f1;padding: 15px;overflow: hidden;width: 100%;}

.title-filter{font-size: 14px;font-weight: 900;text-transform: uppercase;position: relative;padding:5px 0;cursor: pointer;margin: 0}

.title-filter::after{font: normal normal normal 14px/1 FontAwesome;content: "\f105";position: absolute;right: 0;font-size: 25px;top: 1px;}

.title-filter.active::after{content: "\f107";}

.filter-content{padding:15px 0 0;display: none;display: none}

.filter-content ul{list-style-type: none;padding: 0;margin: 0;}

.filter-content ul ul{padding-left: 15px;}

.filter-content ul li{margin-bottom:8px;font-size: 12px;color: #363739;line-height: 16px;}

.filter-content .checkbox li{margin-bottom: 0;line-height: 14px;}

.filter-content ul li a{color: #363739;}

.filter-content ul li a:hover{color:#bf191d}

.filter-content input[type=checkbox]{margin-right: 5px;}

.filter-content input[type=text], .filter-content input[type=number]{width: 80px;padding: 0 5px;}

.filter-content button{height: 32px;line-height: 30px;color:#bf191d;padding: 0 5px;;cursor: pointer;background: transparent;box-shadow: inherit;border: 0;}

.filter-content b{font-size: 12px}

.porduct-shipping{overflow: hidden;margin-top:0;width: 100%;}

.shipping{background-color: #f7faff;padding: 15px 10px;display: flex;font-size: 12px;margin-bottom: 15px;}

.shipping img{margin-right: 10px;width: 30px;max-height: 30px;}

.shipping h4{text-transform: uppercase;font-weight: 700;margin: 0 0 3px;font-size: 16px;line-height: 21px;}

.shipping p{margin:0;line-height: 16px;font-weight: 100;margin:0;border: 1px solid #e2e5f1;height: 40px;line-height: 40px;color: #363739;}

.shipping .shipping-text p{border: 0;line-height: 16px;}



.cart-may-buy{margin-top: 40px;}

.cart-may-buy h2{font-size: 20px;}

.cart-count{margin-bottom: 20px;font-size: 25px;font-weight: 700;}

.products-cart{margin-bottom: 15px;border: 1px solid #e2e5f1;padding: 15px;overflow: hidden;width: 100%;}

.products-cart h3{font-size: 20px;}

.products-cart img{width: 150px;margin-right: 10px;}

.content-center{width: calc(100% - 400px)}

.products-cart p, .removeFromCart{font-size: 13px;line-height: 16px;margin: 5px 0 0;color: #363739;}

.products-cart .price{font-size: 20px;margin-bottom: 30px;}

.products-cart .qty{line-height: 40px;}

.products-cart .qty select{width: 60px;padding: 0 5px;margin:0 0 0 7px;border: 1px solid #e2e5f1;height: 40px;line-height: 40px;color: #363739;}

.products-cart .qty .input-quantity{float: right;width: 100px;margin-left: 10px;margin-top: 0;}

.box-borderd{margin-bottom: 25px;border: 1px solid #e2e5f1;background-color: #f7f7fa;padding: 15px;overflow: hidden;width: 100%;}

.secure-checkout{background-color:#bf191d;display: block;padding:10px;color: #fff;font-size: 18px;text-transform: uppercase;margin-bottom: 15px;}
.secure-checkout i{margin-left: 5px;position: relative;top:-1.5px;}
.secure-checkout:hover{background-color: #363739 !important;color:#fff;}

.box-borderd .coupon{position: relative;overflow: hidden;}

.box-borderd .coupon input{width: 100%;height: 45px;padding: 0 65px 0 8px;background: #ffffff;border:1px solid #e2e5f1;box-shadow: inherit}

.box-borderd .coupon button{position: absolute;border: 0;border-left: 1px solid #e2e5f1;padding: 0 15px;height: 45px;line-height:45px;top: 0;right:0;background-color: transparent;font-size: 13px;}

.box-borderd h4, .checkout-info h4{font-size: 16px;font-weight: 600;margin-bottom: 12px;}

.box-borderd p, .checkout-info p{font-size: 13px;line-height: 16px;margin: 5px 0 0;}

.checkout-info{margin-bottom: 15px;border: 1px solid #e2e5f1;padding: 15px;overflow: hidden;width: 100%;}

.checkout-side .payement-methods{list-style-type: none;padding: 0;margin: 0 0 25px;display: inline-block;}

.checkout-side .payement-methods li{float: left;margin-right: 10px;font-size: 25px;}



.checkout-side-button{position: fixed;top: calc(100% - 80px);background-color: #fff;z-index: 99;width: 100%;left: 0;padding: 0;}

.checkout-side-button.secure-checkout{background-color:#bf191d;display: block;padding:10px;color: #fff;font-size: 18px;text-transform: uppercase;margin-bottom: 15px;}

.checkout-side-button.secure-checkout:hover{background-color: #e4643f;}



.loading {width: 100%;height: 100%;background: #16171d;opacity: 1;position: fixed;z-index: 9999;top: 0;display: none !important;}

.loading > div {width: 60px;height: 60px;position: absolute;left: 50%;margin-left: -30px;top: 50%;margin-top: -30px;}

.loading > div > div {content: "";position: absolute;width: 16px;height: 16px;background: #bf191d;top: 10px;left: 10px;transform-origin: 20px 20px;border-radius: 8px;animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-webkit-animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-moz-animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);}

.loading > div > .c2 {top: 10px;left: auto;right: 10px;transform-origin: -4px 20px;animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-moz-animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-webkit-animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);}

.loading > div > .c3 {top: auto;left: auto;right: 10px;bottom: 10px;transform-origin: -4px -4px;animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-moz-animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-webkit-animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);}

.loading > div > .c4 {top: auto;bottom: 10px;transform-origin: 20px -4px;animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-moz-animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);-webkit-animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);}




@keyframes spin-a {

  0% {transform: rotate(90deg);}

  0% {transform: rotate(90deg);}

  50% {transform: rotate(180deg);}

  75% {transform: rotate(270deg);}

  100% {transform: rotate(360deg);}

}

@keyframes spin-b {

  0% {transform: rotate(90deg);}

  25% {transform: rotate(90deg);}

  25% {transform: rotate(180deg);}

  75% {transform: rotate(270deg);}

  100% {transform: rotate(360deg);}

}

@keyframes spin-c {

  0% {transform: rotate(90deg);}

  25% {transform: rotate(90deg);}

  50% {transform: rotate(180deg);}

  50% {transform: rotate(270deg);}

  100% {transform: rotate(360deg);}

}

@keyframes spin-d {

  0% {transform: rotate(90deg);}

  25% {transform: rotate(90deg);}

  50% {transform: rotate(180deg);}

  75% {transform: rotate(270deg);}

  75% {transform: rotate(360deg);}

  100% {transform: rotate(360deg);}

}

.loading > span {width: 100px;height: 30px;position: absolute;left: 50%;margin-left: -50px;top: 50%;margin-top: 30px;color: #bf191d;font-size: 12px;text-align: center;}



.bar-product{z-index:99;position:fixed;bottom:0;left:0;width:100%;overflow:hidden;background-color: #f1f1f1;padding: 10px 0}
.bar-product p{font-size: 13px;height: 50px;margin: 0;line-height: 50px;color: #fff;text-align: center;}


.bar-product a{padding: 0;line-height: 50px;width: 100%;display: block;height: 50px;border-radius: 0;cursor:pointer;color: #fff !important;background: #43B39A;text-transform: uppercase;text-align: center;}
.bar-product a:hover{background-color: #bf191d;}

.bar-product .quantity{position:relative;width: 50px;margin-right:10px;}

.bar-product .quantity input#count{max-width: 100%;height: 50px;padding: 10px 40px;text-align: center;font-size: 18px;color:#363739;padding: 0;width: 100%;}

.bar-product .quantity input.buttonCount{border-radius: 5px;cursor: pointer;z-index: 99;position: absolute;top: 10px;left: 10px;height: 30px;background: #fff;width: 30px;color: #363739;line-height:25px;text-align: center;border: 1px solid #363739;font-size: 25px;}

.bar-product .quantity input.buttonCount#plus{left:initial;right: 10px;}

.bar-product > div{float:left;height:50px;}
.bar-product .addToCartMobile{width: calc(100% - 60px);float: right;}


/* login-page */

.login-page{background: url(../img/4.jpg) no-repeat center;background-size: cover;width: 100%;min-height: 100vh;position: relative;}
.login-page::after{z-index: 1;content: "";background-color: rgba(0, 0, 0, .5);position: absolute;width: 100%;height: 100%;top: 0;left:0;}

.login-page .wrap{z-index: 99;width: 90%;max-width: 450px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}

.login-page img{height: 60px;display: block;margin: 0 auto 30px;}

.login-page h1{color: #fff;margin: 0 0 30px;text-align: center;font-size: 24px;}

.login-page form{width: 100%;background-color: #fff;padding: 30px;overflow: hidden;}

.login-page form input{font-size: 14px;border-radius: 0;border:0;box-shadow: inherit;color: #666;border-bottom: 1px solid #666;height: 45px;margin-bottom: 40px;padding: 0 10px;}

.login-page form a, .login-page form p{color: #666;display: block;text-align: center;margin-bottom: 25px;font-size: 14px;}

.login-page form p{color: #666;display: block;text-align: center;margin-bottom: 0;font-size: 14px;}

.login-page form p a{display: inline-block;margin: 0}

.login-page form a:hover{color: #bf191d;}

.login-page form button{text-transform: uppercase;width: 100%;box-shadow: 0;border: 0;cursor: pointer;background-color:#bf191d;display: block;padding:10px;color: #fff;font-size: 16px;text-transform: uppercase;margin-bottom: 25px;}

.login-page form button:hover{background-color: #e4643f;}

.backToHome{position: fixed;top: 15px;right: 15px;z-index: 999;}

.backToHome i{display: block;width: 30px;height: 30px;border-radius: 30px;line-height: 30px;background: url(../img/close.png) no-repeat center;background-size:25px;}

.password-input{position: relative;}

.password-input i{content: "\f06e";cursor: pointer;font: normal normal normal 14px/1 FontAwesome;position: absolute;right:0;top: 0;padding: 0 7.5px;height: 45px;line-height: 45px;text-align: center;color: #666;font-size: 20px;}

.password-input input{padding-right: 45px;}

.social-media-register{padding: 0;margin: 20px 0;list-style-type: none;}

.social-media-register li{text-align: center;}

.social-media-register li a{display: block;color: #fff;padding: 10px;font-size: 16px;line-height: 20px;text-transform: uppercase;margin: 10px 0;border: 2px solid;}

.social-media-register li.facebook-register a{background-color: #3b5999;border-color: #3b5999;}

.social-media-register li.google-register a{background-color: #dd4b39;border-color: #dd4b39;}

.social-media-register li a i{font-size: 30px;vertical-align: sub;margin-right: 10px;}

.social-media-register li a:hover{color: #fff;background-color: transparent;}

.social-media-register li.facebook-register a:hover{color: #3b5999;}

.social-media-register li.google-register a:hover{color: #dd4b39;}

/* checkout-page */

.checkout-page{background-color: #fff;box-shadow: 0 0 3px 0px #ccc;margin: 40px 0;padding:0;}

.checkout-page h1{padding: 15px 30px;font-size: 20px;margin:0;border-bottom: 1px solid #ccc;background:#fff;font-weight: 900;}

.checkout-page form{padding: 30px;}

.checkout-page form label{margin: 0;height: 24px;overflow: hidden;}

.checkout-page input, .checkout-page select{font-size: 14px;border-radius: 0;border:0;box-shadow: inherit;color: #666;border-bottom: 1px solid #666;height: 45px;margin-bottom: 40px;padding: 0 10px;}

.checkout-page select{height: 45px !important;line-height: 45px;margin: 0;}

.checkout-page button{text-transform: uppercase;box-shadow: 0;border: 0;cursor: pointer;background-color:#bf191d;display: block;padding:10px 30px;color: #fff;font-size: 16px;text-transform: uppercase;margin:15px 0 0;}

.checkout-page button:hover{background-color: #e4643f;}



/* filter-mobile */

.filter-mobile{border-top: 1px solid #666;border-bottom: 1px solid #666;margin-bottom: 20px;padding: 15px 0;}

.only-mobile p{padding: 0;}

.filter-mobile .col-4{border-right: 1px solid #666;}

.filter-mobile .col-4:last-child{border: 0;}

.filter-mobile button{height: 20px;line-height: 20px;cursor: pointer;padding: 0;text-align: center;width: 100%;background: transparent;border: 0;box-shadow: inherit;color: #363739;text-transform: uppercase;font-size: 12px;font-weight: 700;}

.filter-mobile button i{margin-left: 5px;font-size: 16px;vertical-align: text-bottom;}


/* - */
.category-modern{overflow: hidden;}
.category-modern .wrap{overflow: hidden;}
.category-modern .wrap .img{padding-top: 500px;background-size: cover;background-repeat: no-repeat;background-position: center;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-ms-transition: all .3s;}
.category-modern:hover .img{transform: scale(1.2);}
.category-modern .px-3{position: relative;z-index: 9;}
.category-modern .content{background-color: #fff;border-bottom: 4px solid #363739;}
.category-modern .content h3{font-size: 20px;}
.category-modern .content h3 a{color: #363739;}
.category-modern .content h3 a:hover{color: #bf191d;}
.category-modern .content p{color: #363739;margin: 0;}


@media screen and (max-width:991px){

  .hide-small{display: none;}

  .products-cart img{width: 45%;}

  .products-cart .content-center{width: 50%;}

  .products-cart .float-right{width: 50%;float: left !important;text-align: left !important;padding-top: 10px;}

  .products-cart .price{margin-bottom: 15px;}
  .category-modern .wrap .img{padding-top: 350px;}

}



@media screen and (max-width:767px){
  .checkout-page form{padding: 15px;}
  .logo{text-align: center;}

  .products-results .small-view-product:nth-child(odd){padding-right: 7.5px;margin-bottom: 15px;}

  .products-results .small-view-product:nth-child(even){padding-left: 7.5px;margin-bottom: 15px;}

  .products-results .small-view-product .wrap{margin-bottom: 0;}

  .search-results{height: auto;line-height: 24px;}

  .slide-main .carousel-control-next, .slide-main .carousel-control-prev{width: 25px;height: 25px;}

  .slide-main .carousel-control-next span, .slide-main .carousel-control-prev span{width: 10px;height: 10px;}

  .checkout-page button{width: 100%;}

  .checkout-page form label{height:auto;}

  .slide-main .carousel-indicators{display: none;}

  .cart{padding: 0 7.5px;text-align:right;}
  .cart img.cart-icon{width: auto;height: 30px;margin-top: 5px;}

  .social-media {margin-top: 30px;}

  header .search {margin-top: 15px;}

  .hide-mobile{display: none;}

  .bar-product{padding-left: 10px;padding-right: 10px;}

  .only-mobile{display: block;}

  footer .bottom-footer{text-align: center;}

  footer .bottom-footer ul {float: none;flex: inherit;margin: 10px auto;}

  footer .payement-methods li{font-size: 35px;margin-right: 10px;}

  footer .payement-methods li:last-child{margin-right: 0;}

  footer .bottom-footer .payement-methods{margin-top: 20px;}

  .pages-sctructer{padding:15px 0;margin: 0}

  footer .bottom-footer p{position: relative;padding-bottom: 10px;margin-top: 10px}

  footer .bottom-footer p::after{display:none;content: "";position: absolute;bottom: 0;height: 5px;width: 100px;background: black;left: 50%;transform: translateX(-50%);border-radius: 10px;}
  .related-products{padding: 0;margin-top: 40px;}

}

@media screen and (max-width:568px){
  
  .category-modern .wrap .img{padding-top: 250px;}

  .select-filter select{width: 90%;}

  .select-filter{margin: 0;margin-bottom: 20px;width: 50%;}

  .select-filter label {line-height: 17px;height: auto;}

  .related-products .row{padding: 0 15px;}

  .shipping p{height: auto;}

  footer .bottom-footer ul{width: auto;text-align: center;}

  .title-lined .view-more{right: 0;transform: inherit;position: relative;top: 0;margin-top: 5px;}

  header .float-right{display: block;}

  header .float-right > div{width: auto;float: left;}

  .title-lined h2, .title h2{padding: 0;}

  .col-12.clearfix, .products-results{padding: 0;}

  .owl-theme .owl-nav{display: none;}

  .title-lined::before{top: 22px;}

  .slide-main{margin:30px 0;}

  .products-cart img, .products-cart .content-center, .products-cart .float-right{width: 100%;margin: 0;}

  .products-cart img, .products-cart .content-center{margin-bottom: 15px;}

  .products-cart img{width: 70%;display: block;margin: 0 auto 15px;float: none !important;}

  .cart-may-buy{padding: 0 15px !important;}

}

