<template>
  <div id="app">
    <Layout />
  </div>
</template>

<script>

import Layout from './components/layouts/Layout.vue'

export default {
  name: 'app',
  components: {
    Layout
  }
}
</script>
  
<style>
</style>
